<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SineCharta</display-name>
 <!--  <welcome-file-list>
    <welcome-file>/jsp_page/index.jsp</welcome-file>
  </welcome-file-list>  -->
  <resource-env-ref>
    <resource-env-ref-name>jdbc/sql7274119</resource-env-ref-name>
    <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
  </resource-env-ref>
  <error-page>
    <!-- Missing resource -->
    <error-code>404</error-code>
    <location>/jsp_page/error404.jsp</location>
</error-page>
<error-page>
    <!-- Uncaught exception -->
    <error-code>500</error-code>
    <location>/jsp_page/error500.jsp</location>
</error-page>
</web-app>